# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS Debugging Files
*.dSYM/

# Build Directory
/build/

# Visual Studio Code Files
.vscode/

# Logs and Temporary Files
*.log
*.tmp

# Exclude Unix Executables (but allow source code)
!*.cpp       # Allow C++ source files
!*.hpp       # Allow C++ headers

# Config file with API keys
config.json